/*blue: #092c79*/
body {
  background-color: #FFF;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: -50px;
}

.header {
  position: absolute;
  margin: 0;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100px;
}

.header img {
  width: 150px;
  height: auto;
  float: left;
}

.nav {
  margin-top: 35px;
  margin-right: 25px;
  float: right;
  font-family: 'Poiret One', cursive;
}

.nav p {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: white;
}

.nav p:hover {
  transition: 500ms ease;
  color: #00ffff;
}

.nav a {
  text-decoration: none;
}

/*BODY STYLING*/
.body {
  margin: 0;
  width: 100%;
  height: 90%;
}

#welcome {
  width: 100%;
  height: 700px;
  text-align: center;
  background: url('../images/background.jpg') center center no-repeat fixed;
  background-size: cover;
  font-family: 'Poiret One', cursive;
  color: white;
}

#message {
  display: none;
  position: relative;
  top: 170px;
}

#atom {
  width: 200px;
  height: auto;
}

#welcome h1 {
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 120px;
  letter-spacing: 0.1em;
}

#welcome h3 {
  font-size: 30px;
  font-weight: bold;
}

/*ABOUT US STYLING*/
#mission {
  width: 100%;
  min-height: 500px;
  height: auto;
}

#collision {
  position: relative;
  right: 80px;
  top: 80px;
  float: right;
  width: 450px;
  height: auto;
}

.contentleft {
  position: relative;
  float: left;
  top: 50px;
  left: 75px;
  width: 500px;
  height: 400px;
}

.contentleft img {
  width: 75px;
  height: auto;
}

.contentleft h1 {
  font-family: 'Poiret One', cursive;
  color: #092c79;
  font-size: 45px;
}

.contentleft p {
  font-family: 'Open Sans', sans-serif;
  color: #092c79;
  font-size: 20px;
}

/*RESEARCH STYLING*/

#ourtech {
  width: 100%;
  min-height: 500px;
  height: auto;
}

#diagram {
  position: relative;
  left: 100px;
  top: 80px;
  float: left;
  width: auto;
  height: 330px;
}

.contentright {
  position: relative;
  float: right;
  top: 50px;
  right: 75px;
  width: 500px;
  height: 400px;
}

.contentright img {
  width: 75px;
  height: auto;
}

.contentright h1 {
  font-family: 'Poiret One', cursive;
  color: #092c79;
  font-size: 45px;
}

.contentright p {
  font-family: 'Open Sans', sans-serif;
  color: #092c79;
  font-size: 20px;
}

/*PRIMER STYLING*/
#primer img {
  position: relative;
  float: left;
  width: 50px;
  height: auto;
}

#primer {
  text-align: center;
  width: 100%;
  min-height: 750px;
  height: auto;
  background: url('../images/background.jpg') center center no-repeat fixed;
  background-size: cover;
  font-family: 'Poiret One', cursive;
}

#primer h1 {
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 50px;
  color: white;
}

#primer iframe {
  width: 850px;
  height: 550px;
}

/*CONTACT STYLING*/
#contact {
  width: 100%;
  min-height: 500px;
  height: auto;
  text-align: center;
  font-family: 'Poiret One', cursive;
}

#contact h1 {
  padding-top: 60px;
  padding-bottom: 50px;
  font-size: 60px;
  color: #092c79;
}

#mailinglist {
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
  width: 700px;
  height: 60px;
  color: #092c79;
  font-size: 35px;
  padding: .15rem 1rem;
  border: 2px solid rgba(9,44,121,.15);
}

/*FOOTER STYLING*/
.footer {
  background: url('../images/background.jpg') center center no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100px;
  position: absolute;
  margin-bottom: 0;
}

#foot {
  float: left;
  margin-left: 50px;
}

#social-media {
  position: relative;
  float: right;
  margin-right: 70px;
  top: 15px;
}

.fa {
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  border-color: white;
  color: white;
}

.fa:hover {
  text-decoration: none;
  border-color: #00ffff;
  transition: 500ms ease;
  color: #00ffff;
}

.button {
    text-transform: uppercase;
    background-color: black;
    border: 1px solid white;
    width: 20%;
    height: 80px;
    position: relative;
    margin-top: 40px;

    text-align: center;
/*    vertical-align: middle;*/
    font-size: 22px;
    color: white;
    cursor: pointer;
    outline: 0;
    opacity: 0.6;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 0.5;
  right: 0;
}
